body {
    overflow: hidden;
}

.input {
    border-bottom: 1px solid #e2e2e2;
    background-color: transparent;
    padding: 2px 0;
}

.input::placeholder {
    font-size: 14px;
}

.input:focus {
    outline: none;
    border-bottom: 1px solid #BD33E5;
}

.background-primary {
    background: linear-gradient(100deg, #f8ebfc, #fff, #f8ebfc)
}

.border-top {
    border-top: 1px solid #eeeeee;
}

.border-bottom {
    border-bottom: 1px solid #eeeeee;
}

.bg_landing {
    background-image: url('../UI/img/blue_blurry_bg.jpg');
    -o-background-size: 80rem;
    -webkit-background-size: 80rem;
    -moz-background-size: 80rem;
    background-size: 80rem;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-gradient-border {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #c447e8, #aa2ece) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
}


.line-grey {
    border-top: 1.5px solid #eeeeee;
    margin: 2rem auto;
    width: 90%;
}

.spread_animation {
    transition: transform 0.2s ease;
}

.spread_animation:hover img {
    transform: translateX(3px);
}

.spread_animation:hover a {
    transform: translateX(-3px);
}

.shadow-box {
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}


/* Rainbow animation */

/* #StarsIcon {
    animation: rainbow-animation 6s infinite;   
} */

.rainbow {
    animation: rainbow-animation 6s infinite alternate;
}

@keyframes rainbow-animation {
    0% { fill:#aa2ece}
    14% { fill: #ff0099}
    28% { fill: #ff3854}
    42% { fill: #ef761a }
    57%  { fill: #c3a000; }
    71%  { fill: #98b22c; }
    80%  { fill: #66bf5b; }
    90% { fill: #00c1bb; }
    100% { fill: #2388ff; }
}