@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply 
        py-2 px-8 
        bg-primary-purple hover:bg-primary-purple-light
        text-white
        rounded-md
        active:bg-primary-purple-dark active:translate-y-px
        ;
    }

    .btn-blue-text {
        @apply
        py-2 px-8
        shadow-[0_3px_10px_rgb(0,0,0,0.2)]
        text-secondary-blue hover:text-white
        bg-white hover:bg-secondary-blue
    }
    .btn-normal {
        @apply
        bg-transparent
        text-black
        hover:text-primary-purple
        active:text-primary-purple-dark
        active:translate-y-px
    }
}