@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply 
        py-2 px-8 
        bg-primary-purple hover:bg-primary-purple-light
        text-white
        rounded-md
        active:bg-primary-purple-dark active:translate-y-px
        ;
    }

    .btn-blue {
        @apply
        py-2 px-8
        shadow-[0_3px_10px_rgb(0,0,0,0.2)]
        text-white
        rounded-md
        bg-secondary-blue hover:bg-secondary-blue-dark
    }

    .btn-green {
        @apply
        py-2 px-8
        shadow-[0_3px_10px_rgb(0,0,0,0.2)]
        text-white
        rounded-md
        bg-secondary-green hover:bg-secopndary-green-dark
    }

    .btn-red {
        @apply
        py-2 px-8
        shadow-[0_3px_10px_rgb(0,0,0,0.2)]
        text-white
        rounded-md
        bg-secondary-red hover:bg-secondary-red-dark
    }

    .btn-normal {
        @apply
        bg-transparent
        text-black
        hover:text-primary-purple
        active:text-primary-purple-dark
        active:translate-y-px
    }

    .bg-black-transparent {
        @apply
        bg-black
        bg-opacity-20
    }
}
